[submodule "udemy-microsrv-gateway"]
	path = udemy-microsrv-gateway
	url = git@github.com:udemy-microsrv/udemy-microsrv-gateway.git
[submodule "udemy-microsrv-product"]
	path = udemy-microsrv-product
	url = git@github.com:udemy-microsrv/udemy-microsrv-product.git
[submodule "udemy-microsrv-order"]
	path = udemy-microsrv-order
	url = git@github.com:udemy-microsrv/udemy-microsrv-order.git
[submodule "udemy-microsrv-payment"]
	path = udemy-microsrv-payment
	url = git@github.com:udemy-microsrv/udemy-microsrv-payment.git
[submodule "udemy-microsrv-auth"]
	path = udemy-microsrv-auth
	url = git@github.com:udemy-microsrv/udemy-microsrv-auth.git
